.app {
  text-align: center;
  font-family: Arial;
  padding: 20px;
}

.search input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.weather {
  margin-top: 20px;
}

.error {
  color: red;
}

.forecast-grid {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.card {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
}